.doctors-table {
  width: 100%;
}

.doctors-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  padding: 0 15px 20px;
  border-radius: 24px;
  border: 3px solid #435ba2;
  overflow: hidden;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.3);
}

.doctors-table table th,
.site-content .doctors-table table th,
.doctors-table table td,
.site-content .doctors-table table td {
  font-family: "IBM Plex Sans Thai", sans-serif;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
}

.doctors-table table th,
.site-content .doctors-table table th {
  height: 60px;
  font-size: 24px;
  color: #435ba2;
  font-weight: 600;
  padding: 11px 0 0;
  border: 2px solid #7e8ebb;
  border-width: 0 2px 2px 0;
  background-color: #fff;
}

.doctors-table table th:first-child,
.site-content .doctors-table table th:first-child {
  width: 18.5%;
}

.doctors-table table th:last-child,
.site-content .doctors-table table th:last-child {
  width: 115px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #34c21d;
  font-weight: 600;
  padding-left: 15px;
  border-width: 0 0 2px 0;
}

.doctors-table table td,
.site-content .doctors-table table td {
  font-size: 20px;
  color: #435ba2;
  font-weight: 500;
  word-break: break-word;
  padding: 12px 0 10px;
  border-left: 0;
  border-top: 2px solid #dce3f0;
  border-right: 2px solid #7e8ebb;
  border-bottom: 0;
  background-color: #fff;
}

.doctors-table table td:first-child,
.site-content .doctors-table table td:first-child {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
}

.doctors-table table td:last-child,
.site-content .doctors-table table td:last-child {
  text-align: left;
  padding-left: 15px;
  border-width: 2px 0 0 0;
}

.doctors-table table tr:nth-child(odd) td,
.site-content .doctors-table table tr:nth-child(odd) td {
  background-color: #f5fbff;
}

.doctors-table table tbody tr:first-child td,
.site-content .doctors-table table tbody tr:first-child td {
  position: relative;
  padding-top: 15px;
}

.doctors-table table tbody tr:first-child td::before,
.site-content .doctors-table table tbody tr:first-child td::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 2px solid #dce3f0;
}

.doctors-table table tbody tr:last-child td,
.site-content .doctors-table table tbody tr:last-child td {
  border-bottom: 2px solid #dce3f0;
}

.doctors-table table td a,
.site-content .doctors-table table td a {
  color: #435ba2;
  text-decoration: none;
  word-break: break-word;
  transition: color 0.25s ease;
}

.doctors-table table td a:hover,
.site-content .doctors-table table td a:hover {
  color: #4096e2;
}

.doctors-table table td.doctors-table-closed-msg,
.site-content .doctors-table table td.doctors-table-closed-msg {
  color: #999;
  text-align: center;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f0f0;
}

@media (max-width: 1919px) {
  .doctors-table table {
    padding: 0 0.78125vw 1.0416666667vw;
    border-radius: 1.25vw;
    border-width: 0.15625vw;
    box-shadow: 0 0.2083333333vw 0.5208333333vw 1px rgba(0, 0, 0, 0.3);
  }
  .doctors-table table th,
  .site-content .doctors-table table th {
    height: 3.125vw;
    font-size: 1.25vw;
    padding: 0.5729166667vw 0 0;
    border-width: 0 0.1041666667vw 0.1041666667vw 0;
  }
  .doctors-table table th:last-child,
  .site-content .doctors-table table th:last-child {
    width: 5.9895833333vw;
    padding-left: 0.78125vw;
    border-width: 0 0 0.1041666667vw 0;
  }
  .doctors-table table td,
  .site-content .doctors-table table td {
    font-size: 1.0416666667vw;
    padding: 0.625vw 0 0.5208333333vw;
    border-top: 0.1041666667vw solid #dce3f0;
    border-right: 0.1041666667vw solid #7e8ebb;
  }
  .doctors-table table td:first-child,
  .site-content .doctors-table table td:first-child {
    padding-left: 0.5208333333vw;
  }
  .doctors-table table td:last-child,
  .site-content .doctors-table table td:last-child {
    padding-left: 0.78125vw;
    border-width: 0.1041666667vw 0 0 0;
  }
  .doctors-table table tbody tr:first-child td,
  .site-content .doctors-table table tbody tr:first-child td {
    padding-top: 0.78125vw;
  }
  .doctors-table table tbody tr:first-child td::before,
  .site-content .doctors-table table tbody tr:first-child td::before {
    top: 0.1041666667vw;
    height: 0.1041666667vw;
    border-top: 0.1041666667vw solid #dce3f0;
  }
  .doctors-table table tbody tr:last-child td,
  .site-content .doctors-table table tbody tr:last-child td {
    border-bottom: 0.1041666667vw solid #dce3f0;
  }
  .doctors-table table td.doctors-table-closed-msg,
  .site-content .doctors-table table td.doctors-table-closed-msg {
    padding-left: 0.78125vw;
    padding-right: 0.78125vw;
  }
}
@media (max-width: 767px) {
  .doctors-table table {
    padding: 0 1.3020833333vw 1.5625vw;
    border-radius: 2.6041666667vw;
    border-width: 0.390625vw;
    box-shadow: 0 0.2604166667vw 0.78125vw 1px rgba(0, 0, 0, 0.3);
  }
  .doctors-table table th,
  .site-content .doctors-table table th,
  .doctors-table table td,
  .site-content .doctors-table table td {
    line-height: 1.2;
  }
  .doctors-table table th,
  .site-content .doctors-table table th {
    height: 4.9479166667vw;
    font-size: 1.953125vw;
    padding: 1.0416666667vw 0 0;
    border-width: 0 0.2604166667vw 0.2604166667vw 0;
  }
  .doctors-table table th:first-child,
  .site-content .doctors-table table th:first-child {
    width: 20.5%;
  }
  .doctors-table table th:last-child,
  .site-content .doctors-table table th:last-child {
    width: 9.375vw;
    padding-left: 1.0416666667vw;
    border-width: 0 0 0.2604166667vw 0;
  }
  .doctors-table table td,
  .site-content .doctors-table table td {
    font-size: 1.6927083333vw;
    padding: 0.78125vw 0 0.6510416667vw;
    border-top: 0.2604166667vw solid #dce3f0;
    border-right: 0.2604166667vw solid #7e8ebb;
  }
  .doctors-table table td:first-child,
  .site-content .doctors-table table td:first-child {
    padding-left: 0.78125vw;
  }
  .doctors-table table td:last-child,
  .site-content .doctors-table table td:last-child {
    padding-left: 1.0416666667vw;
    border-width: 0.2604166667vw 0 0 0;
  }
  .doctors-table table tbody tr:first-child td,
  .site-content .doctors-table table tbody tr:first-child td {
    padding-top: 1.3020833333vw;
  }
  .doctors-table table tbody tr:first-child td::before,
  .site-content .doctors-table table tbody tr:first-child td::before {
    top: 1px;
    height: 0.2604166667vw;
    border-top: 0.2604166667vw solid #dce3f0;
  }
  .doctors-table table tbody tr:last-child td,
  .site-content .doctors-table table tbody tr:last-child td {
    border-bottom: 0.2604166667vw solid #dce3f0;
  }
  .doctors-table table td a:hover,
  .site-content .doctors-table table td a:hover {
    color: #113081;
  }
  .doctors-table table td a:active,
  .site-content .doctors-table table td a:active {
    color: #4096e2;
  }
  .doctors-table table td.doctors-table-closed-msg,
  .site-content .doctors-table table td.doctors-table-closed-msg {
    padding-left: 1.3020833333vw;
    padding-right: 1.3020833333vw;
  }
}

/*# sourceMappingURL=doctors-table.css.map */
