/***** Font Gotham *****/
@font-face {
    font-family: 'Gotham-light', sans-serif;
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .eot');
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .eot?#iefix') format('embedded-opentype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .woff2') format('woff2'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .woff') format('woff'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .ttf') format('truetype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Light.site-content .svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-book', sans-serif;
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .eot');
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .eot?#iefix') format('embedded-opentype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .woff2') format('woff2'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .woff') format('woff'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .ttf') format('truetype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Book.site-content .svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-medium', sans-serif;
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .eot');
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .eot?#iefix') format('embedded-opentype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .woff2') format('woff2'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .woff') format('woff'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .ttf') format('truetype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Medium.site-content .svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-bold', sans-serif;
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .eot');
    src: url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .eot?#iefix') format('embedded-opentype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .woff2') format('woff2'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .woff') format('woff'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .ttf') format('truetype'),
        url('.site-content ..site-content ./fonts/gotham/Gotham-Bold.site-content .svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.site-content .gotham-light {
    font-family: 'Gotham-light', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.site-content .gotham-book {
    font-family: 'Gotham-book', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.site-content .gotham-medium {
    font-family: 'Gotham-medium', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.site-content .gotham-bold {
    font-family: 'Gotham-bold', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/***** Font Kanit *****/
.site-content .kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.site-content .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.site-content .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.site-content .kanit {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.site-content .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.site-content .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.site-content .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.site-content .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.site-content .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.site-content .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.site-content .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
}
.site-content .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.site-content .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.site-content .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.site-content .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.site-content .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.site-content .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
}
.site-content .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/***** Font Sarabun *****/
.site-content .sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.site-content .sarabun-extralight {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.site-content .sarabun-light {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.site-content .sarabun {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.site-content .sarabun-medium {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.site-content .sarabun-semibold {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.site-content .sarabun-bold {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.site-content .sarabun-extrabold {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.site-content .sarabun-thin-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.site-content .sarabun-extralight-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: italic;
}
.site-content .sarabun-light-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.site-content .sarabun-regular-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.site-content .sarabun-medium-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.site-content .sarabun-semibold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.site-content .sarabun-bold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.site-content .sarabun-extrabold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: italic;
}