.section-slide-banner {
  position: relative;
  left: 50%;
  width: 1920px;
  margin: 0 auto;
  padding-bottom: 45px;
  transform: translateX(-50%);
}

.slide-banner-list {
  height: 732px;
  max-height: 732px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-banner-list.flickity-enabled {
  opacity: 1;
}

.slide-banner-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-banner-item a {
  display: block;
  width: auto;
  height: 100%;
  cursor: pointer;
}

.slide-banner-image {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.slide-banner-image.m {
  display: none;
}

.site-content .slide-banner-image img,
.slide-banner-image img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  filter: none;
}

.slide-banner-list .flickity-page-dots {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: -44px;
  text-align: center;
  padding: 0 47px;
  margin: 0 auto;
  z-index: 9;
}

.slide-banner-list .flickity-page-dots .dot {
  vertical-align: top;
  width: 11px;
  height: 11px;
  margin: 0 7px;
  background-color: #bebebe;
  opacity: 1;
  transition: background-color 0.25s ease-in-out;
}

.slide-banner-list .flickity-page-dots .dot.is-selected {
  opacity: 1;
  background-color: #5badff;
}

.slide-banner-list .flickity-button {
  width: 44px;
  height: 44px;
  color: #333;
  background: transparent;
  outline: 0;
  border: 0;
  box-shadow: none;
}

.slide-banner-list .flickity-prev-next-button.previous {
  left: 25px;
}

.slide-banner-list .flickity-prev-next-button.next {
  right: 25px;
}

.flickity-prev-next-button .flickity-button-icon {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

@media (max-width: 1919px) {
  .section-slide-banner {
    width: 100vw;
    padding-bottom: 2.34375vw;
  }
  .slide-banner-list {
    height: 38.125vw;
    max-height: 38.125vw;
  }
  .slide-banner-list .flickity-page-dots {
    bottom: -2.2916666667vw;
    padding: 0 2.4479166667vw;
  }
  .slide-banner-list .flickity-page-dots .dot {
    width: 0.5729166667vw;
    height: 0.5729166667vw;
    margin: 0 0.3645833333vw;
  }
  .slide-banner-list .flickity-button {
    width: 2.2916666667vw;
    height: 2.2916666667vw;
  }
  .slide-banner-list .flickity-prev-next-button.previous {
    left: 1.3020833333vw;
  }
  .slide-banner-list .flickity-prev-next-button.next {
    right: 1.3020833333vw;
  }
}
@media (max-width: 767px) {
  .section-slide-banner {
    padding-bottom: 7.1614583333vw;
  }
  .slide-banner-list {
    height: 121.484375vw;
    max-height: unset;
  }
  .slide-banner-image {
    width: 100%;
    height: auto;
  }
  .slide-banner-image.d {
    display: none;
  }
  .slide-banner-image.m {
    display: block;
  }
  .site-content .slide-banner-image img,
  .slide-banner-image img {
    width: 100%;
    height: auto;
  }
  .slide-banner-list .flickity-button {
    width: 7.8125vw;
    height: 7.8125vw;
  }
  .slide-banner-list .flickity-page-dots {
    bottom: -7.1614583333vw;
    padding: 0 1.953125vw;
  }
  .slide-banner-list .flickity-page-dots .dot {
    width: 1.953125vw;
    height: 1.953125vw;
    margin: 0 1.171875vw;
  }
  .slide-banner-list .flickity-prev-next-button.previous {
    left: 1.953125vw;
  }
  .slide-banner-list .flickity-prev-next-button.next {
    right: 1.953125vw;
  }
}

/*# sourceMappingURL=slide_banner.css.map */
