$max-viewport-dt: 1920;
$max-viewport-mb: 768;
@function get-vw-dt($target) {
    $vw-context: ($max-viewport-dt * .01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
@function get-vw-mb($target) {
    $vw-context: ($max-viewport-mb * .01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

/** Reset CSS WordPress */
html, body {
    overflow-x: hidden;
}
@media (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}
/** End Reset CSS WordPress */