.wp-list-table-wrapper {
    position: relative;
    overflow-x: auto;
    transform: translate(0, 0);
}
.wp-list-table.sticky thead {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}